{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<!-- Section: Design Block -->

<section class="container">
  <div class="container px-4 px-md-5 text-center text-lg-start mt-5">
    <div class="card bg-glass text-center">
      <div class="card-body px-4 py-4 px-md-5">
        <h1 class="text-center mb-3">DubLynk</h1>
        <h4 class="mb-4">Simplify Your Links</h4>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul class="flashes">
                  {% for message in messages %}
                      <li>{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
        {% endwith %}
      
        <form method="POST" action="/" class="">
          {{ form.hidden_tag() }}
          <div class="form-outline mb-4" data-mdb-input-init>
            {{ form.long_url(type="url", class="form-control form-control-lg") }}
            {{ form.long_url.label(class="form-label") }}
          </div>
          {% if current_user.is_authenticated %}
          <div class="form-outline mb-4" data-mdb-input-init>
            {{ form.custom_url(class="form-control form-control-lg", maxlength="16") }}
            {{ form.custom_url.label(class="form-label") }}
          </div>
          {% endif %}

          {% if short_url %}
          <div class="form-outline mb-4" data-mdb-input-init>
            <input type="text" class="form-control form-control-lg" disabled
              value="{{ request.url_root }}{{ short_url }}">
            {{ form.short_url.label(class="form-label") }}

              <img src="{{ url_for('static', filename='qr/' + short_url + '.png') }}" alt="QR Code" class="img-fluid" width="150">
              <a href="{{ url_for('static', filename='qr/' + short_url + '.png') }}" download="{{ short_url }}.svg" class=" mt-3">
                Download QR Code
              </a>
          </div>
          {% else %}
          <div class="form-outline mb-4" data-mdb-input-init>
            <input type="text" class="form-control" disabled>
            {{ form.short_url.label(class="form-label") }}
          </div>
          {% endif %}
          {{ form.submit(class="btn btn-primary btn-block mb-4 btn-sub-val btn-short") }}
        </form>
        <p class="">
          Shorten long URLs and Generate QR codes in seconds. Monitor performance with real-time stats. All for free!
        </p>
      </div>
    </div>
  </div>
</section>

{% if not current_user.is_authenticated %}
<section class="container">
  <div class="container px-4 px-md-5 text-center text-lg-start mt-5">
    <div class="card bg-glass text-center">
      <div class="card-body px-4 py-4 px-md-5 text-center">
        <h4 class="mb-4">Want more? Go beyond basic!</h4>
        <p>
          Create an account for custom URLs, real-time tracking, QR code generation, a powerful dashboard and a fully featured link management suite.
        </p>
        <a href="{{ url_for('reg_user') }}" class="me-2 p-3 btn btn-primary">Create an Account</a>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="container">
  <div class="container px-4 px-md-5 text-center text-lg-start mt-5">
    <div class="card bg-glass text-center">
      <div class="card-body px-4 py-4 px-md-5 text-center row justify-content-between">
        <div class="card bg-glass my-3 col-md-6">
          <h4>Reliable</h4>
          <p>
            Use any link, no matter what size, DubLynk always shortens.
          </p>
        </div>
        
        <div class="card bg-glass my-3 col-md-6">
          <h4>Ad-Free</h4>
          <p>
            All redirects are instant and ad-free. We respect your audience’s time and privacy.
          </p>
        </div>
        
        <div class="card bg-glass my-3 col-md-6">
          <h4>Friendly</h4>
          <p>
            DubLynk offers an easy and user-friendly way to shorten and manage your oringinal, long links.
          </p>
        </div>
        
        <div class="card bg-glass my-3 col-md-6">
          <h4>Statistics</h4>
          <p>
            Monitor your custom links and see how each of them perfoms. Our dashboard offers you valuable insights.
          </p>
        </div>
        
        <div class="text-start mt-5">
          <h4>Why Short URLs Matter ✂️</h4>
  
          <p>
            Long URLs can look suspicious and overwhelming — research shows that users often assume long links are spam or untrustworthy. That’s why shortened URLs are the go-to for anyone looking to drive more traffic and make a strong first impression.
            
            Your URL is the gateway to your content — and often the very first thing your audience sees. A clean, short link instantly builds credibility, boosts click-through rates, and is far more likely to be trusted and shared.
          </p>
      
          <hr class="w-100">
  
          <h4>The Benefits of Using Short Links 💡</h4>
          <ul class="p-0">
            <li class="list-group-item py-1 d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Trust & Reputation:</div>
                Users are more likely to click a short, clean URL than a long, cluttered one.
              </div>
            </li>
            <li class="list-group-item py-1 d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Shareability:</div>
                Short links are easier to remember, type, copy, and paste. Especially from print materials or offline media.
              </div>
            </li>
            <li class="list-group-item py-1 d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Better Design:</div>
                Aesthetically pleasing links enhance your content’s appearance and professionalism.
            </li>
            <li class="list-group-item py-1 d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Higher Engagement:</div>
                Studies show that short URLs are shared more frequently than longer counterparts.
            </li>
            <li class="list-group-item py-1 d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Platform-Friendly:</div>
                Short links are perfect for platforms like Twitter and SMS where character limits apply.
              </div>
            </li>
          </ul>

          <hr class="w-100">
  
          <h4>Simplicity You Can Trust 🔒</h4>
  
          <p>
            While URL redirection might sound complex, DubLynk makes it simple, safe, and seamless. Unlike other shorteners, DubLynk offers custom URLs, support, and detailed analytics — with no ads, no spam, and no redirects that confuse users.
  
            Whether you’re sharing links on social media, in a newsletter, or offline, DubLynk helps you get your audience to the right place — fast.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { Input, initMDB } from "mdb-ui-kit";

  initMDB({ Input });
</script>
{% endblock %}