{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden" style="height: 1000px;">
  <div class="container">
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('logout') }}" class="float-end btn btn-danger">Logout</a>
      <a href="{{ url_for('dashboard') }}" class="float-end me-2 btn btn-danger">Dashboard</a>
    {% else %}
      <a href="{{ url_for('reg_user') }}" class="float-end btn btn-danger">Sign up</a>
      <a href="{{ url_for('user_login') }}" class="float-end me-2 btn btn-danger">Sign in</a>
    {% endif %}

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">

        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">

          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <h2>URL Shortener</h2>
              {% with messages = get_flashed_messages() %}
                  {% if messages %}
                      <ul class="flashes">
                          {% for message in messages %}
                              <li>{{ message }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
              {% endwith %}
              <form method="POST" action="/">
                {{ form.hidden_tag() }}
                {% if current_user.is_authenticated %}
                <div class="form-outline mb-4" data-mdb-input-init>
                  {{ form.long_url(type="url", class="form-control", id="formControlDefault") }}
                  {{ form.long_url.label(class="form-label") }}
                </div>
                <div class="form-outline mb-4" data-mdb-input-init>
                  {{ form.custom_url(class="form-control", maxlength="16", id="formControlDefault") }}
                  {{ form.custom_url.label(class="form-label") }}
                </div>
                {% else %}
                <div class="form-outline mb-4" data-mdb-input-init>
                  {{ form.long_url(type="url", class="form-control", id="formControlDefault") }}
                  {{ form.long_url.label(class="form-label") }}
                </div>
                {% endif %}

                {% if short_url %}
                <div class="form-outline mb-4" data-mdb-input-init>
                  <input type="text" class="form-control" id="formControlDefault" disabled
                    value="{{ request.url_root }}{{ short_url }}">
                  {{ form.short_url.label(class="form-label") }}
                </div>
                {% else %}
                <div class="form-outline mb-4" data-mdb-input-init>
                  <input type="text" class="form-control" id="form3Example2" disabled>
                  {{ form.short_url.label(class="form-label") }}
                </div>
                {% endif %}
                {{ form.submit(class="btn btn-primary btn-block mb-4 btn-sub-val") }}
              </form>

            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            The best offer <br />
            <span style="color: hsl(218, 81%, 75%)">for your business</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Temporibus, expedita iusto veniam atque, magni tempora mollitia
            dolorum consequatur nulla, neque debitis eos reprehenderit quasi
            ab ipsum nisi dolorem modi. Quos?
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

<script>
  import { Input, initMDB } from "mdb-ui-kit";

  initMDB({ Input });
</script>
{% endblock %}