
  <!-- Update Profile Modal -->
  <form method="POST" action="{{ url_for('update_profile') }}">
    {{ update_user_form.hidden_tag() }}
    <div class="modal fade" id="UpdateProfile" tabindex="-1" aria-labelledby="UpdateProfile" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Update Profile</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col-md-6">
                <div class="form-outline" data-mdb-input-init>
                  {{ update_user_form.first_name(type="text", class="form-control", id="formControlDefault", value=current_user.first_name) }}
                  {{ update_user_form.first_name.label(class="form-label", for="formControlDefault") }}
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-outline" data-mdb-input-init>
                  {{ update_user_form.last_name(type="text", class="form-control", id="formControlDefault", value=current_user.last_name) }}
                  {{ update_user_form.last_name.label(class="form-label", for="formControlDefault") }}
                </div>
              </div>
            </div>

            <div class="form-outline mb-4" data-mdb-input-init>
              {{ update_user_form.email(type="email", class="form-control", id="formControlDefault", value=current_user.email) }}
              {{ update_user_form.email.label(class="form-label") }}
            </div>

            <!-- Submit button -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              
              <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmUpdate">Save changes</a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Confirm Update Modal -->
    <div class="modal fade" id="confirmUpdate" tabindex="-1" role="dialog" aria-labelledby="confirmUpdateLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="confirmUpdateLabel">Confirm Update</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to save these changes?

          </div>
          
          <!-- Submit button -->
          <div class="modal-footer">
            <button type="button" onclick="window.location.href='dashboard'" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            
            <button class="btn btn-primary">Confirm</button>
          </div>

        </div>
      </div>
    </div>
  </form>

  <!-- Change Password Modal -->
  <form action="{{ url_for('change_password') }}" method="POST">
    {{ change_password_form.hidden_tag() }}
    <div class="modal fade" id="ChangePassword" tabindex="-1" aria-labelledby="ChangePassword" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Update Password</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-outline mb-4" data-mdb-input-init>
              {{ change_password_form.current_password(type="password", class="form-control", id="formControlDefault", placeholder="********") }}
              {{ change_password_form.current_password.label(class="form-label") }}
            </div>

            <div class="row mb-4">
              <div class="col-md-6">
                <div class="form-outline" data-mdb-input-init>
                  {{ change_password_form.password_hash(type="password", class="form-control check_pass", id="formControlDefault", placeholder="********") }}
                  {{ change_password_form.password_hash.label(class="form-label") }}
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-outline" data-mdb-input-init>
                  {{ change_password_form.password_hash2(type="password", class="form-control conf_pass", id="formControlDefault", placeholder="********") }}
                  <div class="invalid-feedback">
                      Password mismatch.
                  </div>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  {{ change_password_form.password_hash2.label(class="form-label") }}
                </div>
              </div>

            </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-primary btn-sub-val">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete User Modal -->
  <div class="modal fade" id="DeleteAccount" tabindex="-1" aria-labelledby="DeleteAccount" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <ul class="flashes">
                      {% for message in messages %}
                         <li>{{ message }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
            {% endwith %}
          <p class="text-center">
            Are you sure you want to delete your account?
          </p>
        </div>
        <div class="modal-footer">
          <form method="POST" action="{{ url_for('delete_user', user_id=current_user.id) }}">
            {{ delete_user_form.hidden_tag() }}
            <button class="btn btn-danger">Delete My Account</button>
          </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="DeleteAccount" tabindex="-1" aria-labelledby="DeleteAccount" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>